python==3.6.13
absl-py==1.1.0
astor==0.8.1
certifi==2021.5.30
charset-normalizer==2.0.12
click==8.0.4
cmake==3.22.5
colorama==0.4.5
cycler==0.11.0
dataclasses==0.8
dlib @ https://pypi.python.org/packages/da/06/bd3e241c4eb0a662914b3b4875fc52dd176a9db0d4a2c915ac2ad8800e9e/dlib-19.7.0-cp36-cp36m-win_amd64.whl#md5=b7330a5b2d46420343fbed5df69e6a3f
docopt==0.6.2
face-recognition==1.3.0
face-recognition-models==0.3.0
Flask==2.0.3
gast==0.2.2
google-pasta==0.2.0
grpcio==1.47.0
gunicorn==20.1.0
h5py==2.10.0
idna==3.3
importlib-metadata==4.8.3
itsdangerous==2.0.1
Jinja2==3.0.3
joblib==1.1.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
Markdown==3.3.7
MarkupSafe==2.0.1
matplotlib==3.3.4
numpy==1.18.5
opencv-python==4.6.0.66
opt-einsum==3.3.0
pandas==1.1.5
Pillow==8.4.0
pipreqs==0.4.11
protobuf==3.19.4
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.1
requests==2.27.1
scikit-learn==0.24.2
scipy==1.5.4
six==1.16.0
tensorboard==1.15.0
tensorflow-estimator==1.15.1
termcolor==1.1.0
threadpoolctl==3.1.0
typing_extensions==4.1.1
urllib3==1.26.9
Werkzeug==2.0.3
wincertstore==0.2
wrapt==1.14.1
yarg==0.1.9
zipp==3.6.0
